
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetCookieActionResult</title>
</head>
<body>
    <div> 
        <h1>Cookie Data: @Model</h1>
    </div>
</body>
</html>
